/**
 * type: board.luv.added
 * status: active
 * title: {actor_name} luved {target_name} photo
 * title_url: <b>{actor_name_url}</b> added a photo from the portfolio of {target_name_url} to {actor_possessive} luv board
 * notification: <b>{actor_name}</b> added one of your photos to {actor_possessive} luv board
 * notification_url: /post?feed_id={id}
 */
 
 
 <div class="feed-profile-thumb thumbnail">
    <a href="{target_portfolio_url}?photo={file_name}"><img src="/portfolio/{source_id}/{file_name}" width="250" height="250" /></a>
    <div id="feed-profile-thumb-options-{id}" class="feed-profile-thumb-options"></div>
 </div>
