/**
 * type: portfolio.updated
 * status: active
 * title: {actor_name} updated {actor_possessive} portfolio
 * title_url: <b>{actor_name_url}</b> updated {actor_possessive} <a href="{actor_portfolio_url}">portfolio</a>
 * notification: <b>{actor_name}</b> added some new photos to {actor_possessive} portfolio
 * notification_url: /post?feed_id={id}
 */
 
 <div class="feed-portfolio-container"> 
     <div class="feed-portfolio">
        <a href="{actor_portfolio_url}">{actor_portfolio}</a>
     </div>
 </div>
 