/**
 * type: portfolio.profile.image
 * status: active
 * title: {actor_name} updated {actor_possessive} profile image
 * title_url: <b>{actor_name_url}</b> updated {actor_possessive} profile image
 * notification: <b>{actor_name}</b> updated {actor_possessive} profile image
 * notification_url: /post?feed_id={id}
 */
 
 <div class="feed-profile-thumb thumbnail">
    <a href="{actor_portfolio_url}"><img src="{actor_profile_image}" width="250" height="250" /></a>
    <div id="feed-profile-thumb-options-{id}" class="feed-profile-thumb-options"></div>
 </div>
