<div id="feed-comment-{id}" class="feed-comments-container">
    <div class="feed-comment-image"><a href="/portfolio/{actor_username}" class="icon thumbnail"><img src="/portfolio/{actor_username}/icon_image.png" /></a></div>
    <div class="feed-story">
        <div class="feed-comment-body">
        	{content_body}
        </div>
        <span id="feed-comment-date-{id}" class="feed-comment-date"></span>
        <span id="feed-comment-options-{id}" class="feed-comment-options"></span>
    </div>
    <br style="clear: both;" />
</div>