<div id="feed-{id}" class="feed-container">
    <div class="feed-profile-image"><a href="/portfolio/{actor_username}" class="icon thumbnail"><img src="/portfolio/{actor_username}/icon_image.png" /></a></div>
    <div class="feed-story">
        <div class="feed-content-title">{content_title_url}</div>
        <div id="feed-content-date-{id}" class="feed-content-date"></div>
        <div class="feed-content-body">{content_body}</div>
        <div id="feed-content-options-{id}" class="feed-content-options"></div>
    </div>
    <br style="clear: both;" />
</div>